@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-gradient {
  height: 2.5rem; /* Height 10 as per tailwind h-10 */
  width: 10rem; /* Width 40 as per tailwind w-40 */
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Text-2xl */
  border-image: linear-gradient(to right, #775cf0, #42457b) 1;
  border-radius: 40px;
}
